# Nodejs
node_modules/

# not ignoring Environment variables as they are needed for the app to run and do not contain sensitive data

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm